.mainNav-wrap {
  background: rgb(41, 53, 66);
}
.mainNav {
  display:inline-block;
  width: 70px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 13px;
}
.mainNav-active:not(.activeNav):hover {
  color: #37cbc1;
}
/* 链接激活样式 */
.mainNav-active {
  background: #37cbc1;
}